@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(235, 235, 235, 0.87);
  background-color: #f9fafb;
  --primary-bg: #5202e7;
  --navy-blue: #0e7490;
  --light-blue: #1693b6;
  --dark-gray: #2e2e2e;
  --light-gray: #747474;
}

body {
  color: var(--light-gray);
}

.blue-gradient {
  background: linear-gradient(
    to top right,
    var(--navy-blue),
    var(--light-blue)
  );
}

button {
  border: 0.5px solid #fff;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.2rem 0.4rem;

  &:hover {
    color: rgb(58, 147, 225);
    border-color: rgb(58, 147, 225);
  }
}

.nav-links li:hover {
  color: peachpuff;
  cursor: pointer;
}

.registration-form label {
  color: var(--light-gray);
}

